<head>Hello {{user}}</head>

<br>

<form action='\data\' method='GET'>
	<input type="text" name="age" placeholder="age"> <br>
	<input type="text" name="gen" placeholder="male/female"><br>
	<input type="text" name="wei" placeholder="weight"><br>
	<input type="text" name="hei" placeholder="height"><br>
	<input type="text" name="bp" placeholder="blood pressure"><br>
	<input type="text" name="sug" placeholder="sugar level"><br>
	<input type="text" name="temp" placeholder="temperature"><br>
	<input type="text" name="blo" placeholder="haemoglobin count"><br>
	<input type="submit" name="submit">
</form>

<br>
<br>
<br>
<br>

<form action="view" method="get">
	<input type="submit" name="view" value="view history">
</form>